@import "./Root.css";

.reply_box {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.reply_content {
  background-color: var(--White);
  color: var(--Dark-blue);
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
}

.reply_content img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.reply_content textarea {
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  resize: none;
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: var(--White);
  border: 1px solid var(--Light-grayish-blue);
  color: var(--Dark-blue);
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
}

.reply_content textarea::placeholder {
  color: var(--Dark-blue);
  font-weight: 500;
}

.reply_content button {
  background-color: var(--Moderate-blue);
  border: none;
  color: var(--White);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.reply_content button:hover {
  opacity: 0.5;
}
